@media screen and (min-width:428px) {
    .conteiner {
        width: 428px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-min.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-2x-min.jpg);
        }
    }
}

@media screen and (min-width:428px) and (max-width:767px) {}

@media screen and (min-width:768px) {
    .conteiner {
        width: 768px;
    }

    .header-mob {
        display: none;
    }

    .header .main-nav {
        display: flex;
        align-items: center;
    }

    .current {
        position: relative;
    }

    .current::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px;
    }

    .main-nav .logo {
        margin-right: 120px;
    }

    .site-nav .link.current {
        color: #404BBF;
    }


    .site-nav .list {
        display: flex;
        gap: 40px;
    }

    .site-nav .link {
        padding-top: 24px;
        padding-bottom: 24px;
        color: #2E2F42;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

        transition: color var(--transition);
    }

    .address {
        font-style: normal;
        margin-left: auto;
    }

    .address .link {
        color: #434455;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.17;

        transition: color var(--transition);
    }

    .site-nav .link:hover,
    .site-nav .link:focus,
    .address .link:hover,
    .address .link:focus {
        color: #404BBF;
    }

    .nav .link:active {
        color: #404BBF;
    }



    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-1-min.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-1-2x-min.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }

    .advantages .list {
        gap: 72px 24px;
    }

    .advantages .item {
        width: 356px;
    }

    .team-list {
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-list-item {
        width: 168px;
    }


    .footer-flex {
        display: flex;
        justify-content: start;
        gap: 72px 24px;
    }

    .footer-text {
        width: 264px;
        margin-bottom: 0;
    }

    .footer .logo {
        text-align: left;
    }

    .social-media-title,
    .footer-form-title {
        text-align: left;
    }

    .social-media .soc-list {
        margin-bottom: 0px;
    }

    .footer-form-title {
        display: block;
    }

    .footer-subscribe-wrapp {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .footer-input-email {
        width: 264px;
        margin-bottom: 0;
    }

    .modal {
        width: 408px;
        padding: 72px 24px 24px;

    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .footer .conteiner {
        padding-left: 108px;
        padding-right: 108px;
    }

}

@media screen and (min-width:1158px) {
    .conteiner {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .hero-title {
        margin-bottom: 48px;
    }

    .advantages .list {
        gap: 24px;
    }

    .advantages .item {
        width: 264px;
    }

    .icon-advantages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;

    }

    .advantages-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .work {
        display: block;
    }

    .work .list {
        display: flex;
    }

    .work .item:not(:last-child) {
        margin-right: 24px;
    }


    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-texr-wrapp {
        margin-right: 120px;
    }

    .footer-flex {
        gap: 0px;
    }

    .footer-form-wrapp {
        margin-left: auto;
    }

    .social-media {
        margin-right: 80px;
    }


    .main-nav .logo {
        margin-right: 76px;
    }

    .address .list {
        display: flex;
        gap: 40px;
    }

    .address {
        font-style: normal;
        margin-left: auto;
    }

    .address .link {
        font-size: 16px;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}