/* Palitra */
/* цвет осн текста #434455 */
/* цвет заголовка #2E2F42  */
/* белый цвет #fff */
/* цвет фон #E7E9FC */
/* цвет фона футер #2E2F42 */
/* цвет фона вторичный #F4F4FD */
/* цвет фона #FFFFFF */
/* цвет ховер фокус #404BBF */
/* цвет текста footer #F4F4FD*/
/* цвет logo-one #4D5AE5 */
/* цвет logo-two #2E2F42 */
/* цвет logo-three #F4F4FD */


:root {
    --primary-text-color:#434455;
    --title-color:#2E2F42;
    --primary-bcg-color:#FFFFFF;
    --footer-bcg-color:#2E2F42;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.conteiner {
width: 1158px;

padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
/* border: 1px solid red; */
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin:0;
    padding-left: 0;
}

.img{
    display: block;
}

body {
    background-color: #FFFFFF ;
    color: var(--primary-text-color);


    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;

}

/* Button */

.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.link {
    text-decoration: none;
    
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* title */

.section-title {
    margin-bottom: 72px;

    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    }
    


/* logo */

.logo{
    color: #4D5AE5;

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.logo-two {
    color: #2E2F42;
}
.logo-three {
    color: #F4F4FD;
}

/* Header */

.current {
    position: relative;
}

.current::after{
position: absolute;
bottom: -1px;
left:0;
content: '';
width: 100%;
height: 4px;
background: #404BBF;
border-radius: 2px;

}
.site-nav .link.current{
    color:#404BBF;
}

.main-nav{
    display:flex;
    align-items:center;
}
.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav .logo{
    margin-right: 76px;
}

.site-nav .list,
.address .list{
    display: flex;
}

.site-nav .item:not(:last-child),
.address .item:not(:last-child) {
    margin-right: 40px;
}
.site-nav .link {     
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42 ;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    transition: color var(--transition); 
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address .link {
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    transition: color var(--transition);
}
    
.site-nav .link:hover,
.site-nav .link:focus,
.address .link:hover,
.address .link:focus {
    color: #404BBF;
}
.nav .link:active{
    color: #404BBF;
}


/* footer */

.footer-flex{
    display: flex;
    justify-content: flex-start;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--footer-bcg-color);
}

.footer-texr-wrapp{
    margin-right: 120px;
}

.footer-text {
    width: 264px;
    color: #F4F4FD;
}

.footer .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.social-media-title, .footer-form-title{
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}
/* .social-media{
    margin-right: 80px;
} */

.footer-form-wrapp{
    margin-left: auto;
}

.social-media .soc-list {
    display: flex;
    gap: 16px;
    
}

.social-media .link {
    transition: background-color var(--transition);

}

.social-media .soc-list-item .link:hover,
.social-media .soc-list-item .link:focus {
    background-color: #31D0AA;
}

.footer-input-email{
    width: 264px ;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;

    padding: 8px 16px;

    color: #FFFFFF;
}

.footer-input-email::placeholder{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.btn-subscibe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    width: 165px;
    height: 40px;
    
    color: #FFFFFF;

    background: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.footer-subscribe-wrapp{
    display: flex;
    gap: 24px;
}

.icon-subscribe{
    fill: currentColor;
}


/* Studio */

/* Hero */

.hero{
    padding: 188px 0;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7) ), 
    url(../images/hero-bcg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.hero-title{
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    color: #FFFFFF;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em
    }


.hero-btn{
    padding: 16px 32px;
    border: none;
    border-radius: 4px;

    background-color:#4D5AE5 ;
    color:#FFFFFF ;

    transition: background-color var(--transition);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}


/* advantages */

.advantages{
    padding-bottom: 0;
}

.advantages .list {
    display: flex;
    font-weight: wrap;
}

.advantages .item {
    width: 264px;
}
.advantages .item:not(:last-child){
    margin-right: 24px;
}


.advantages-list-title{
    margin-bottom: 8px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em    
}

.icon-advantages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}
/* work */



.work .list{
    display: flex;
}

.work .item:not(:last-child){
    margin-right: 24px;
}




/* team */

.team {
    background-color: #F4F4FD;
}

.team-list{
    display: flex;
}

.team-list .soc-list{
    display: flex;
    gap: 24px;
}

.soc-list-item{
    width: 40px;
    height: 40px;

    }

.soc-list-item .link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;

}

.soc-list-icon{
    fill: #F4F4FD;
}
.team-list .soc-list-item .link{
    transition: background-color var(--transition);
}

.team-list .soc-list-item .link:hover,
.team-list .soc-list-item .link:focus{
    background-color: #404BBF;
}


.person{
    width: 264px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.person:not(:last-child){
    margin-right: 24px;
}
.person .text{
    margin-bottom: 8px;
}


.team .card{
    padding: 32px 16px;
    text-align: center;
}

.name{
    margin-bottom: 8px;

    color:var(--title-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

/* CUSTOMERS */

.customers-list{
    display: flex;
    gap: 24px;
}

.customers-list-item {
    width: 168px;
    height: 88px;
}

.customers-list-item .link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;

}

.customers-list-icon {
    fill:#8E8F99;
}

.customers-list-item .link{
    transition: border-color var(--transition);
}
.customers-list-item .link:hover,
.customers-list-item .link:focus{
    border-color: #404BBF;
    border-radius: 4px;
}

.customers-list-icon{
    transition: fill var(--transition);
}

.customers-list-item .link:hover .customers-list-icon,
.customers-list-item .link:focus .customers-list-icon{
    fill: #404BBF;
}

/* Portfolio */



.projects{
    padding-top: 96px;

}
.projects .list-button,
.projects .list-card{
    display: flex;
    justify-content: center;
    }

.list-button{
    margin-bottom: 72px;
}

.button.portfolio {
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    color: #4D5AE5;
    background-color: #F4F4FD;

    transition: color var(--transition) ,
                border-color var(--transition),
                background-color var(--transition),
                box-shadow var(--transition);
}

.button.portfolio:hover,
.button.portfolio:focus {
    color: #fff;
    border-color: #404BBF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button .item:not(:last-child){
    margin-right: 24px;
}



.list-card{
    flex-wrap: wrap;
}

.list-card .item{
    margin-right: 24px;
    margin-bottom: 48px;
}
.list-card .item:nth-child(3n){
    margin-right: 0px;
}
.list-card .item:nth-last-child(-n+3){
    margin-bottom: 0;
}


.list-card .card {    
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}


.list-title{
    margin-bottom: 8px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.link .text{
    color: #434455;
}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    padding: 32px 40px;

    color: #F4F4FD;
    background-color: #4D5AE5;

    height: 100%;
    
    transform: translateY(100%) ;
    transition: transform var(--transition);

    overflow: auto;

   
}
.card-link:hover .card-cover-text,
.card-link:focus .card-cover-text{
    transform: translateY(0);
}

.card-link{
    display: block;
    transition: box-shadow 200ms;
}

.card-link:focus,
.card-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}



/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition), 
    visibility var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate( -50%, -50%) rotateX(0) ;
  
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    transition: transform var(--transition);

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-icon {
    fill:currentColor;
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 20px;
    right: 20px;

    transition: background-color var(--transition) , 
    color var(--transition);

    color: #2E2F42 ;
    background: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover, .close-button:focus{
    background-color:#404BBF ;
    color: #FFFFFF ;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) 
    perspective(600px) rotateX(90deg);
   
}

.modal-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  
    text-align: center;
    letter-spacing: 0.02em;
   
    color: #2E2F42;

    margin-bottom: 16px;

}

.input-box-wrapp{
    margin-bottom: 8px;
}

.textarea-box-wrapp{
    display: block;
    margin-bottom: 16px;
}

.input-icon-wrapp{
    position: relative;
}

.form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    padding-left: 38px;

    transition: border-color var(--transition);
}

.modal-label{
    display: block;
    margin-bottom: 4px;
}


.modal-label,
.modal-textarea,
.modal-textarea::placeholder{
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .form-icon{
    fill:#4D5AE5;
}

.modal-textarea{
    outline: transparent;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;

    transition: border-color var(--transition);
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder{
    color: rgba(46, 47, 66, 0.4);
}

.send-button{
    display: block;
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0;

    margin-left:auto;
    margin-right: auto;
}

.check-text{
    display: flex;
    align-items: center;
}

.link-checkbox{
color:#4D5AE5;
}


.click{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
}

.input-click:checked + .modal-label > .click{
    
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox-box-wrapp{
    margin-bottom: 24px;
}
